<table width="800" border="0">
    <thead>
    <tr>
      <th align="left">Nombre</th>
      <th align="left">Apellido</th>
      <th align="left">Sociedad</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% obj.each do |clients| %>

        <td><%= clients.nombre %></td>
        <td><%=clients.apellido%></td>
        <!--<td><%= Society.joins(:nombre).where(id: clients.society_id) %></td>-->
        <td><%= clients.society_id %></td>
        
        <td><%= link_to image_tag('ver.png', title: 'Ver'), clients %></td>
        <%if logged_in? && current_user == clients.user%>
        <td><%= link_to image_tag('edit.png', title: 'Editar'), edit_client_path(clients) %></td>
        <td><%= link_to image_tag('eliminar.png', title: 'Eliminar'), clients, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
        <% end %>
        <tr></tr>

    <% end %>
    </tbody>
  </table>