
  <table width="1000" border="0" align="center">
    <thead>
    <tr>
      <th>Nombre Sociedad</th>
      <th>Valor Anual</th>
      <th>Valor Mensual</th>
      <th>Valor Dos Contados</th>
      <th colspan="5"></th>
    </tr>
    </thead>
    <tbody align="center">
    <% obj.each do |societies| %>
       
        <td ><%=societies.nombre %></td>
        <td><%=societies.val_anual%></td>
        <td><%=societies.val_semestral%></td>
        <td><%=societies.val_mensual%></td>
        
        <td><%= link_to image_tag('ver.png', title: 'Ver'), societies %></td>
        <%if logged_in? &&  (current_user == societies.user || current_user.admin?) %>
        <td><%= link_to image_tag('edit.png', title: 'Editar'), edit_society_path(societies) %></td>
        <td><%= link_to image_tag('eliminar.png', title: 'Eliminar'), societies, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
        <% end %>
        <tr></tr>

    <% end %>
    </tbody>
  </table>